<component name="libraryTable">
  <library name="spring-boot-cloud2">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/root_backup/cache_backup/.cache/JetBrains/RemoteDev/userProvidedDist/_workspace_root_backup_cache_backup_.cache_JetBrains_RemoteDev_dist_5db83dcb5c045_idea-2025.3.1/plugins/spring-boot-cloud/lib/spring-boot-cloud.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>