<component name="libraryTable">
  <library name="spring-data">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/root_backup/cache_backup/.cache/JetBrains/RemoteDev/dist/5db83dcb5c045_idea-2025.3.1/plugins/spring-data/lib/spring-data.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>